# Expo
.expo/
dist/
web-build/

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.xcuserdatad

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
